alabaster==0.7.10
appnope==0.1.0
Babel==2.4.0
backports.weakref==1.0rc1
bleach==1.5.0
boto==2.47.0
bz2file==0.98
certifi==2017.4.17
chardet==3.0.4
cycler==0.10.0
decorator==4.0.11
docutils==0.13.1
entrypoints==0.2.3
gensim==2.2.0
html5lib==0.9999999
idna==2.5
imagesize==0.7.1
ipykernel==4.6.1
ipyparallel==6.0.2
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
Keras==2.0.5
Markdown==2.2.0
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.3.0
nltk==3.2.4
nose==1.3.7
notebook==6.4.12
numpy==1.13.0
pandas==0.20.2
pandocfilters==1.4.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
protobuf==3.3.0
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.18.1
scikit-learn==0.18.2
scipy==0.19.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
smart-open==1.5.3
snowballstemmer==1.2.1
-e git+https://github.com/apmoore1/socialsent.git@4a1fc57d4532071e9534725c31d0a63d522620f4#egg=socialsent
Sphinx==1.6.2
sphinxcontrib-websupport==1.0.1
tensorflow==1.2.0
terminado==0.6
testpath==0.3.1
Theano==0.9.0
tornado==4.5.1
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==2.0.0
